@charset "UTF-8";

*{
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #1D7874, #679289);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.266);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #1d7874;
    height: 1px;text-align: center;
    text-shadow: 1px 1px 2px #1a6b678a;
}

h2{
    color: #438175;
}

p{
    text-align: justify;
}